#!/bin/env bash

# NOTE:
# - Secrets should not go in this file. Shared project-level configuration
#   belongs here. If you need to provide ENV for sensitive information that
#   should not be committed, add a "sample" comment to that effect here, and
#   define the actual ENV variable in $PROJECT/.local/envrc.
# - Local overrides to the "defaults" set here may also be defined within
#   `.local/envrc`.

source_up
export DOCKER_TAG="playwright-assets"
export PROJECT="$(expand_path .)"
export NODE_ENV=development
export WEBSERVER_PORT=3002
source_env_if_exists .local/envrc

PATH_add bin
